<h3 style="border-bottom: solid 1px; padding-bottom:10px; font-size:2.1em;">Sign In</h3>

<%= form_for(:session, url:login_path) do |f| %>

<div class="field", style="padding-top:20px;">
<%= f.label :email %></br>
<%= f.text_field :email %>
</div>

<div class="field", style="padding-top:15px; padding-bottom: 20px;">
<%= f.label :password %></br>
<%= f.text_field :password %>
</div>

<div class="actions">
<%= f.submit "Log In" %>
</div>
<% end %>