<h3 style="color:dimgray; font-size:1.7em;"> Please create an article </h3></br>

<% if @article.errors.any? %>

<div class="alert alert-danger" role="alert">The following errors prevented the article from getting created</div>

<ul>

<% @article.errors.full_messages.each do |msg| %>

<li><%= msg %></li>

<% end %>

</ul>

<% end %>

<%= form_for @article do |f| %>

<p>
  <%= f.label :title %> <br/>
  <%= f.text_field :title, placeholder: "Title of Article", autofocus: true %> 
</p>

<p>
  <%= f.label :description %> <br/>
  <%= f.text_area :description, placeholder: "Description of Article", autofocus: true %> 
</p>

<p style="text-transform: capitalize;">
  <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |x| %>
  <% x.label(class: "checkbox-inline") {x.check_box(class: "checkbox")+ x.text} %>
  <% end %>
</p></br>

<p>
  <%= f.submit class: "btn btn-primary btn-lg" %>
</p></br>

<% end %>

<%= link_to 'Show All Articles', articles_path %>

